{% extends 'base.html' %}

{% block title %}
    teste
{% endblock  %}

{% block css %}
    <style>
        body {
            background-color: #008000;
        }
        .card {
            width: 350px;
        }
        .btn {
            background-color: #007bff; 
            color: white;
            width: 150px;
        }
    </style>
{% endblock  %}

{% block conteudo %}
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card">
            <div class="card-img-top">
                <img src="../static/img/suap-logo.png" class="img-fluid" alt="logo do suap">
            </div>
            <div class="card-body text-center"> 
                <h1 class="card-title mb-3">Gerador de boletim</h1>
                <hr>

                <a href="{{url_for('login')}}" role="button" class="btn btn-success">Acessar</a>
            </div>
        </div>
    </div>
{% endblock  %}