{% extends 'base.html' %}

{% block conteudo %}
    <section class="row d-flex align-items-center justify-content-center pt-5 mb-3">
        <div class="col-3">
            <div class="d-flex justify-content-center align-items-center">
                <img class="img-fluid rounded-5" src="https://suap.ifrn.edu.br{{ user_data['url_foto_150x200'] }}" alt="foto de perfil">
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="text-center"> {% block title %} {{user_data['nome_usual']}} {% endblock %}</h2>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-4">
                    <p><b>ID de aluno</b>: {{user_data['id']}}</p>
                </div>
                <div class="col-4">
                    <p><b>Matricula</b>: {{user_data['matricula']}}</p>
                </div>
                <div class="col-4">
                    <p><b>CPF</b>: {{user_data['cpf']}}</p>
                </div>
                <div class="col-4">
                    <p><b>Data de nascimento</b>: {{user_data['data_nascimento']}}</p>
                </div>
                <div class="col-4">
                    <p><b>Email</b>: {{user_data['email']}}</p>
                </div>
                <div class="col-4">
                    <p><b>Tipo de vinculo</b>: {{user_data['tipo_vinculo']}}</p>
                </div>
                <div class="col-4">
                    <p><b>Curso</b>: {{user_data['vinculo']['curso']}}</p>
                </div>
                <div class="col-4">
                    <p><b>Campus</b>: {{user_data['vinculo']['campus']}}</p>
                </div>
                <div class="col-4">
                    <p><b>Situação</b>: {{user_data['vinculo']['situacao']}}</p>
                </div>
                <div class="col-12">
                    <p><b>curriculo lattes</b>: <a href="{{user_data['vinculo']['curriculo_lattes']}}">{{user_data['vinculo']['curriculo_lattes']}}</a></p>
                </div>
            </div>
        </div>
    </section>

    <section class="mb-3">
        <div>
            <h2 class="text-center">Boletim</h2>
        </div>
        
        <div class="table-responsive">
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>Disciplina</th>
                        <th>2º Semestre</th>
                        <th>1º Bimestre</th>
                        <th>2º Bimestre</th>
                        <th>3º Bimestre</th>
                        <th>4º Bimestre</th>
                        <th>Média Final</th>
                        <th>Carga horaria</th>
                        <th>Total de faltas</th>
                        <th>Situação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for field in boletim_data %}
                    <tr>
                        <td><b>{{ field['disciplina'] }}</b></td>
                        <td>{{ field['segundo_semestre'] }}</td>
                        <td>{{ field['nota_etapa_1']['nota'] }}</td>
                        <td>{{ field['nota_etapa_2']['nota'] }}</td>
                        <td>{{ field['nota_etapa_3']['nota'] }}</td>
                        <td>{{ field['nota_etapa_4']['nota'] }}</td>
                        <td>{{ field['media_final_disciplina'] }}</td>
                        <td>{{ field['carga_horaria'] }}</td>
                        <td>{{ field['numero_faltas'] }}</td>
                        <td>{{ field['situacao'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <a class="btn btn-danger text-center mb-5" href="{{url_for('logout')}}">Logout</a>
{% endblock  %}